body {
    background-color: #F5F5F5; /* Color de fondo claro */
  }
  
  #loginDiv {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #FFFFFF;  
    color: #000000;     
    border-radius: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
  }
  
  button {
    background-color: #4caf50;  
    color: #ffffff;     
    border: none;
  }
  
  h1,
  h2 {
    text-align: center;
    color: #000000;     
  }
  body {
    background-color: #F5F5F5;  
  }
  
  #listaBebidas.centrado { /    
    width: 300px;
    margin: 0 auto;
  }
  
  #loginDiv {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #FFFFFF;  
    color: #000000;     
    border-radius: 5px;
  }
 